# MLflow Configuration
MLFLOW_TRACKING_URI="https://dagshub.com/ryakalanaveenreddy/machinelearningpipeline.mlflow"
MLFLOW_TRACKING_USERNAME="ryakalanaveenreddy"
MLFLOW_TRACKING_PASSWORD="e62b6b60b5191c73c73dcbd6a28e0dd6b5a26ede"
